# .github/workflows/wl-package-nightly.yaml
on:
    workflow_call:
        inputs:
            project:
                required: true
                type: string
            config:
                required: true
                type: string
            artifact_name:
                required: false
                type: string
                default: 'deploy'
        secrets:
            WLE_CREDENTIALS:
                required: true
jobs:
    package:
        runs-on: ubuntu-latest
        container:
            image: wonderlandengine/editor:edge
        steps:
            - name: Install Git
              run: apt-get update && apt-get install -y git

            - name: Checkout repository and submodules
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '20'

            - name: npm install
              run: npm i

            - name: Package
              run: /usr/local/bin/entrypoint.sh WonderlandEditor --windowless --enable-plugins --package --project ${{ inputs.project }} --config ${{ inputs.config }} --output ./deploy
              env:
                  WLE_CREDENTIALS: ${{ secrets.WLE_CREDENTIALS }}

            - name: Upload packaged build
              uses: actions/upload-artifact@v4
              with:
                  name: ${{ inputs.artifact_name }}
                  path: ./deploy
